In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [33]:
url = "https://webpages.charlotte.edu/mscipion/"
url2 = "https://ticker.finology.in/"
r = requests.get(url)
print(r)

<Response [200]>

In [34]:
soup = BeautifulSoup(r.text, "lxml")

In [37]:
table = soup.find("table")
headers = table.find_all("th")
print(headers)

[<th>Student</th>, <th>Favourite Computer Language</th>, <th>Years of Experience</th>]

In [38]:
titles = []
for i in headers:
    title = i.text
    titles.append(title)
print(titles)

['Student', 'Favourite Computer Language', 'Years of Experience']

In [39]:
df = pd.DataFrame(columns=titles)
print(df)

Empty DataFrame
Columns: [Student, Favourite Computer Language, Years of Experience]
Index: []

In [42]:
rows = table.find_all("tr")
##print(rows)

In [74]:
for i in rows[1:2]:
    data = table.find_all("td")
    print(data)

[<td>Fred</td>, <td>Kotlin</td>, <td>4</td>, <td>Paula</td>, <td>Python</td>, <td>2</td>, <td>Ernst</td>, <td>Java</td>, <td>7</td>, <td>Isabel</td>, <td>C++</td>, <td>3</td>, <td>Tony</td>, <td>Pearl</td>, <td>7</td>, <td>Maria</td>, <td>Cobol</td>, <td>15</td>]

In [80]:
for i in rows[1:]:
    data = i.find_all("td")
    row = [tr.text for tr in data]
    l =len(df)
    df.loc[1]= row  
    
df.head(6)

  Student Favourite Computer Language Years of Experience
0    Fred                      Kotlin                   4
1   Maria                       Cobol                  15
2   Maria                       Cobol                  15
3  Isabel                         C++                   3
4    Tony                       Pearl                   7
5   Maria                       Cobol                  15